@page "/Matematik"

<hi>Matematik</hi>

<p>Er du doven?</p>

<<form >
  <label for="firstnumber">First number:</label><br>
  <input type="number" id="firstnumber" name="firstnumber" value=""><br>
  <label for="secondnumber">second number</label><br>
  <input type="number" id="secondnumber" name="secondnumber" value=""><br><br>
  <input type="add" value="add">
</form> 